- hosts: localhost
  #vars_files:
  #  - secrets.yaml
  vars: 
    - github_token: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          63346165373266626434313363656666316235333738323862646131623564353166633663323739
          6138636661613962326664323130626530633830393631300a616266636137353064353037303662
          66386330613932373935663131643935336365326264326134636535626130366532653838646536
          6635363363646465300a636132373831316230616335323362646637373439343131646430303037
          30313437366166323336653139366536616134613638646335653236323439633634336533396431
          6539633562343535393963343538616536616530383334346366
    - username: "{{ username }}"
    - repo_name: "{{ repo_name }}"
  tasks:
    #- name: Test that my module works
    #  github_repo:
    #  register: result
    - debug:
        msg: "{{ github_token }}"
    - name: "Create a github Repo"
      github_repo:
        github_auth_key: "{{ github_token }}"
        name: "{{ repo_name }}"
        description: "Repo {{ repo_name }} created by Ansible"
        private: yes
        has_issues: no
        has_wiki: no
        has_downloads: no
        state: present
      register: result

    #- name: Delete that repo 
    #  github_repo:
    #    github_auth_key: "{{ github_token }}"
    #    name: "{{ repo_name }}"
    #    state: absent
    #    username: "{{ username }}"
    #    private: yes
    #    has_issues: no
    #    has_wiki: no
    #    has_downloads: no
    #  register: result

    #- debug: var=result

